################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
*.DotSettings
*.DotSettings.user
*.nupkg
*.ps1
*.psd1
*.psm1
/pacakges/*
/nuget.exe
*.csproj.vspscc
App.config
app.config
*.nupkg
*.suo